.sociol_icon{

  display: flex;
  gap: 1rem;
}
.sociol_icon .link_icon{
  padding: 0.5rem;
  transition: var(--trans);
  display: flex;

}
.sociol_icon .link_icon:hover{
  background-color: var(--first);
  color: var(--title);
  border-radius: 5px;
}
.sociol_icon .link_icon svg{
  color: var(--title);
  font-size: 2rem;
}